<div class="nested-fields">
  <table>
  <tr>
    <td>
    <%= f.collection_select(:foodstuff_id, Foodstuff.all, :id, :name, {}) %>
    </td>
    <td>
    <%= f.text_field :amount, :size=>"5" %>g
    </td>
    <td>
    <%= link_to_remove_association "削除", f %>
    </td>
    </tr>
    </table>
</div>