<div class="masterdish">
  <div class="masterdish__name">
    <!--レシピ基本情報-->
    レシピ名
    <% @master_dishes.each do |master_dish| %>
      <%= attachment_image_tag master_dish, :image, :fill, 170, 180, format: 'jpeg' %></br>
      <%= link_to master_dish_path(master_dish.id) do %>
        <%= master_dish.name %></br>
      <% end %>
      <!--投稿レシピのみ投稿者の名前を表示-->
      <%if master_dish.is_master == false %>
        <% customer_id = master_dish.customer_id %>
        投稿者<%= Customer.find(customer_id).name %>
      <% end %>
    <% end %>
  </div>
  <div class="masterdish__index">


  </div>
</div>