<div class="nested-fields">
    <%= f.collection_select(:foodstuff_id, Foodstuff.all, :id, :name, {}, class: "select") %>
    <%= f.number_field :amount, class: "nested-fields__field" %>g
    <%= link_to_remove_association "削除", f %>
</div>
<script>
$('.select').select2();
</script>