<div class="about">
  <h1 class="about__heading">About</h1>
  <span class="about__introduction">
    このサイトは栄養機能に特化したサイトです</br>
    あなたが投稿したレシピが簡単に栄養表示されます</br>
    あなたの食生活は大丈夫ですか？</br>
    Happy Cooking！！</br>
  </span>
  <IMG class="about__image"><%= image_tag 'about_image.jpg', size: '640x400' %></IMG>
</div>