<div class="about">
  <div class="about__introduction">
    <p class="about__introduction-text">
      あなたは今日何kcal摂取しましたか？
    </p>
    <p class="about__introduction-text-sub">
      あなたが投稿したレシピが簡単に栄養表示されます</br>
      あなたの食生活は大丈夫ですか？</br>
      Happy Cooking！！</br>
    </p>
  </div>
  <div class="container">

    <div class="row about__sub-introduction">
      <p class="col-md-12 about__sub-introduction-head">本サイトの特徴</p>
    </div>
      <div class="row about__sub-introduction-feature">
        <div class="col-md-4 about__sub-introduction-feature-box">
          <p><i class="fab fa-nutritionix about__sub-introduction-feature-icon"></i></p><br>
          <h5 class="about__sub-introduction-feature-head"><strong>栄養表示機能</strong></h5><br>
          <i class="about__sub-introduction-feature-introduction">栄養表示がされます。材料、重量を打ち込めば、簡単にカロリー、タンパク質、脂質、炭水化物が表示されます。</i>
        </div>
        <div class="col-md-4 about__sub-introduction-feature-box">
          <p><i class="fas fa-blog about__sub-introduction-feature-icon"></i></p><br>
          <h5 class="about__sub-introduction-feature-head"><strong>投稿機能</strong></h5><br>
          <i class="about__sub-introduction-feature-introduction">あなたのレシピが投稿できます。材料と作り方を入力すれば手軽に投稿でき、ほかのユーザーの投稿も見ることができます</i>
        </div>
        <div class="col-md-4 about__sub-introduction-feature-box">
          <p><i class="far fa-comments about__sub-introduction-feature-icon"></i></p><br>
          <h5 class="about__sub-introduction-feature-head"><strong>コメント機能</strong></h5><br>
          <i class="about__sub-introduction-feature-introduction">あなたが投稿したレシピにほかのユーザーからいいねやコメント等評価を受けることができます。</i>
        </div>
      </div>
    </div>
  </div>
</div>