<div class="masterdish">
   <%#= form_with model: @foodstuff, url: admins_foodstuff_path(@foodstuff), method: :patch, local:true do |f| %>
  <div class="masterdish__name">
    レシピ名
    <% @post_dishes.each do |post_dish| %>
     <%= attachment_image_tag post_dish, :image, :fill, 170, 180, format: 'jpeg' %></br>
              <%= link_to admins_post_dish_path(post_dish.id) do %>
                <%= post_dish.name %></br>
              <% end %>
            <% end %>
  </div>
  <div class="masterdish__index">


  </div>
</div>